<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/print.css' | relative_url }}" media="print">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

{% seo %}
    {% include head-custom.html %}
  </head>

  <body>
    <div id="container">
      <div class="inner">

        <header>
          <a href="/"><h1>{{ site.title }}</h1></a>
          <h2>{{ site.description }}</h2>
        </header>
        <hr>
        <section id="main_content">
          {{ content }}
        </section>

        <div style="width: 200px; margin-top: 20px;">
            <a href="https://play.google.com/store/apps/details?id=com.droiddreams.quranwords&amp;utm_source=qurapp.com&amp;utm_campaign=qurapp-web&amp;pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1">
                <img style="width: 100%;" alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png">
            </a>
        </div>

        <footer>
          Copyright &copy; 2023 Qurapp, Droid Dreams. <a href="/privacy">Privacy Policy</a>
        </footer>

      </div>
    </div>
  </body>
</html>